h1 {
    color: $white;
    letter-spacing: 3px;
    font-size: 1.5rem;
}

main {
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;

    .title_time_container {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    .socials {
        margin-top: auto;

        ul {
            list-style-type: none;
            display: flex;
            gap: 1.5rem;
            justify-content: center;

            svg {
                fill: #8385a9;
            }
        }
    }

    .time_container {
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: center;
        
        .container {
            p {
                box-shadow: 0 10px 5px -5px rgb(24, 23, 23);                
                border-radius: .5rem;
                width: 3.5rem;
                height: 3.5rem;
                color: $soft-red;
                font-size: 1.75rem;
                display: grid;
                place-content: center;
                background: $dark-desaturated-blue;
            }

            span {
                font-size: .5rem;
                color: $grayish-blue;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    main {
        padding: 3rem;
        display: flex;

        .socials {
            ul {
                gap: 2rem;

                svg:hover {
                    fill: $soft-red;
                    transition: .2s;
                }
            }
        }

        .time_container {
            gap: 1.5rem;

            .container {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                p {
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                    width: 10rem;
                    height: 10rem;
                    font-size: 5rem;
                }

                span {
                    font-size: 1rem;
                }
            }
        }
    }
}