@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);
$white: hsl(0, 0%, 100%);
$dark-desaturated-blue: hsl(236, 21%, 26%);
$very-dark-blue: hsl(235, 16%, 14%);
$almost-black: hsl(234, 17%, 12%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-size: 15px;
    font-family: Red Hat Text, sans-serif;
    background: $almost-black;
    position: relative;

    .hills {
        height: 20%;
    }

    .stars {
        height: 80%;
    }
}

img {
    user-select: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

@import "./main";